<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Users</title>
    <style>
        .centered-text {
            text-align: center;
        }

        .form-container {
            border: 1px solid #ccc;
            padding: 20px;
            width: 300px;
            background-color: #f0f0f0;
            margin: 0 auto;
            text-align: center;
        }

        .form-container label {
            display: block;
            margin-bottom: 10px;
        }

        .form-container input[type="submit"] {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<h2 class = "centered-text">Add User</h2>
<div class="form-container">
    <form th:method="POST" th:action="@{/admin/create}" th:object="${user}">
        <label for="name">Enter first name:</label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>
        <label for="lastName">Enter last name:</label>
        <input type="text" th:field="*{lastName}" id="lastName"/>
        <br/>
        <label for="email">Enter email:</label>
        <input type="text" th:field="*{email}" id="email"/>
        <br/>
        <label for="jobPosition">Enter job position:</label>
        <input type="text" th:field="*{jobPosition}" id="jobPosition"/>
        <br/>
        <label for="username">Enter username:</label>
        <input type="text" th:field="*{username}" id="username"/>
        <br/>
        <label for="password">Enter password:</label>
        <input type="password" th:field="*{password}" id="password"/>
        <br/>
        <label for="roles">Select role:</label>
        <input type="checkbox" id="roles"
               th:each="role : ${allRoles}"
               th:text="${role.role}"
               th:value="${role.id}"
               th:field="*{roles}"/>
        <br/>
        <input type="submit" value="Submit"/>
    </form>
</div>
<br>
<br>
<br>
</body>
</html>